# *** CMake ***
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# *** CLion and C++ ***
.idea/**/workspace.xml
.idea/**/tasks.xml
/cmake-build-*/
build/
*-prefix
*-prefix/**
*.dSYM
*.dSYM/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# *** Python ***
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Other:
.DS_Store